html {
  font-family:helvetica;
  text-align:center;
}
.nav {
  background-image:url("../images/the-flatiron-building.png");
  background-size:cover;
  color:white;
}

a {
  color:white;
  font-size:18px;
}

h1 h2 h3 {
  font-weight:bold;
}

h1 {
  font-size:70px;
}

h2 {
  font-size:32px
}

h3 {
  font-size:23px
}

p {
  font-size:14px
}

#bottomnav {
  text-align:left;
  background-color:dimgrey;
  font-size:11px;
  color:white;
}
